body {
  margin: 0;
  padding: 0;
  margin-top: 5px;
  overflow: hidden;
}

button {
  margin: 0;
}

.CodeMirror {
  margin: 0;
  padding: 0;
  position: absolute;
  height: auto;
  overflow-y: hidden;
  overflow-x: auto;
  font-family: "Lucida Console", Monaco, monospace;
}

.CodeMirror-code {
    font-size: 16px;
    line-height: 20px;
}


#editor {
  position: absolute;
  bottom: 24px;
  top: 0px;
  left: 0;
  width:60%;
  overflow: auto;
  background: #262626;
}

#repl {
  position: absolute;
  bottom: 24px;
  top: 0px;
  right: 0px;
  width: 40%;
  overflow: auto;
  background: #131313;

}


.info {
  font-family: monospace;
  white-space: nowrap;
  position: absolute;
  bottom: 0;
  background: #eee;
  padding: 2px;
  height: 20px;
  left: 0;
  right: 0;
}

.info label {
  font-weight: bold;
}

.buttons {
  padding: 2px;
  height: 25px;
}
